extends layout.pug

block header

    form(
        name="searchForm"
        id="searchForm"
        data-bind="submit: submitSearch"
        autocomplete="off"
    )
        input(
            name="searchString"
            type="text"
            data-bind=`
                textInput: searchString,
                event: {
                    keyup: suggestSearchString()
                }
            `)
            //- Above: change event would be better than keyup event
            //- because user may paste text or select text and right-click delete
            //- which will not fire the keyup event.
            //- However, there appears to be an issue with the change event not firing.
        ul(id="suggestions" data-bind="foreach: suggestions")
            li(data-bind="text: $data")
        button(type="submit") Submit


block left-column

    div(id="tags" data-bind="foreach: tags")
        div(class="tag")
            span(data-bind="text: name")
            input(
                type="checkbox"
                data-bind=`
                    checked: isSelected,
                    attr: {
                        'data-id': id,
                        'data-name': name,
                        'data-is-init-selected': isInitSelected
                    }
                `)

block right-column

    div(id="results" data-bind="foreach: currResults")
        div(class="result")
            span(class="title" data-bind="text: title")
            span(class="url" data-bind="text: url")
            span(class="summary" data-bind="text: summary")

    script(src="viewmodels.js")
